<section id="rewards-container" class="absolute hidden h-full px-8 w-full justify-center items-center">
  <div class="h-3/5 h-full flex ">
    <img class="w-12" src="/assets/chocolat.svg" alt="" srcset="">

  </div>
</section>