<section id="rewards-container" class="absolute hidden h-full px-8 w-full justify-center items-center">
  <div class="h-10 w-20 bg-red-500 rounded-xl">
    <p><%= reward.phrase %></p>
  </div>
</section>