<section id="rewards-container" class="absolute hidden flex h-full px-8 w-full justify-center items-center">
  <div id="reward" class="h-full flex flex-col justify-center space-y-8">
    <div class="w-36 h-40 flex flex-col space-y-3 relative justify-end">
      <img class="absolute h-40 animate-floating w-36" src="/assets/candy-cane.svg" alt="" srcset="">
    </div>
    <p class="font-semibold text-center text-white text-3xl">1/7 <\3</p>
  </div>
</section>