<meta property="og:type" content="website">
<meta property="og:locale" content="fr_FR">
<meta property="og:site_name" content="Le calendrier de Magaux">
<title>Ton calendrier</title>
<meta name="description" content="Ton site perso pour ton calendrier !! ">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://lecalendrierdemargaux.fr">
<meta name="twitter:creator" content="@maxou">
<meta property="og:description" content="Ton site perso pour ton calendrier !!">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
<meta property="og:url" content="https://choiceof.dev/question/four-days-working-week-or-fulltime">
<meta property="og:title" content="Viens ouvrir ton calendrier de l'avant !">
<meta property="og:image" content="https://i.imgur.com/M4CGIcs.jpg">
<meta property="og:image:alt" content="4 days working week-fulltime">
